@import '../styles/variables.css';

.app {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
  "header"
  "content"
  "footer";
  grid-template-rows: auto 1fr auto;
}

.maxwidth-wrap {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

#header {
  grid-area: header;
  padding: 1rem;
  text-align: center;
  position: relative;
  background-color: $green;
}

#main {
  grid-area: content;
  text-align: center;
  background-color: $lightgray;
}

#footer {
  grid-area: footer;
  padding: 1rem;
  text-align: center;
}

.head-container {
  display: flex;
  justify-content: space-between;
  text-align: left;
  align-items: center;
  
  li {
    list-style-type: none;

    a {
      text-decoration: none;
      color: $white;
      transition: 0.3s ease all;
      padding: 0 0 3px;
      border-bottom: 3px solid $green;
    }
    
    a:hover {
      color: $white;
      border-bottom: 3px solid $white;
    }
  }
}

.footer {
  text-align: left;
}

/* ----- Media Queries ----- */

@media (min-width: 200px) {
  .logo {
    font-size: 1.1rem;
    padding: 7px 0 0;
    color: $white;
  }
}

@media (min-width: 500px) {
  #header {
    padding: 2rem;
  }

  .logo {
    font-size: 2rem;
  }
}